/* Footer section */
.ftr {
  // display: none;

  background-color: $bckg-dark;
  /* Footer section container */
  &__board {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    @media screen and (max-width: 480px) {
      width: 450px;
      flex-direction: column;
      align-items: center;
      justify-content: center; 
    }
    @media screen and (min-width: 481px) {
      width: 1200px;
      
    }
  }
  &__first-column {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 231px;
    @media screen and (max-width: 480px) {
      align-items: center;
      justify-content: center;
    }
    @media screen and (min-width: 481px) {
    }
  }
  &__logo {
    margin: 0;
    margin-bottom: 20px;
  }
  &__row-address {
    margin: 0;
    margin-bottom: 9px;
    /* height: 21px; */
  }
  &__row-email {
    margin: 0;
    margin-bottom: 9px;
    /* height: 21px; */
  }
  &__row-tel {
    margin: 0;
    /* height: 21px; */
  }

  &__address {
    padding: 0;
    /* height: 21px; */
    text-decoration: none;
    font-style: normal;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__address:hover,
  &__address:focus {
    color: $color-accent;
  }

  &__ref {
    padding: 0;
    /* height: 21px; */
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $color-footer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__ref:hover,
  &__ref:focus {
    color: $color-accent;
  }

  &__second-column {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 206px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 480px) {
      margin-top: 60px;
      margin-left: 0;
      align-items: center;
      justify-content: center;
    }
    @media screen and (min-width: 481px) {
      margin-top: 0;
      padding-top: 12px;
      margin-left: 70px;
    }

  }
  &__hdr {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }

  ftr__socials {
    margin-right: auto;
    margin-left: auto;
  }
  &__socials-link {
    background-color: rgba(255, 255, 255, 0.1);
    fill: #ffffff;
  }
  &__socials-link:hover,
  &__socials-link:focus {
    background-color: $color-accent;
  }
  &__socials-link:hover .socials__icon,
  &__socials-link:focus .socials__icon {
    fill: #ffffff;
  }

  &__third-column {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 570px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 480px) {
      margin-top: 60px;
      margin-left: 0;
      align-items: center;
      justify-content: center;
    }
    @media screen and (min-width: 481px) {
      margin-top: 0;
      padding-top: 12px;
      margin-left: 93px;
    }
  }
}
