.section-hero {
  //  display: none;
}
/* Hero section */
.hero {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: $bckg-dark;

  // phone =======================================================
  @media screen and(max-width: 767px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero\ \(phone\ 1\)_768_400.jpg");
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero\ \(phone\ 2\)_1536_800.jpg");
    }
    max-width: 480px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
  // tablet =======================================================
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-tablet-1_768_400.jpg");
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-tablet-2-1536_800.jpg");
    }

    max-width: 768px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
  // desktop =======================================================
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero\ \(desktop\ 1\)_1600_600.jpg");
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero\ \(desktop\ 2\)_3200_1200.jpg");
    }
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* Hero section container */
  &__face {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
    //@media screen and(max-width: 480px) {
    font-size: 26px;
    line-height: 1.62;
    //}
    @media screen and(min-width: 768px) {
      font-size: 26px;
      line-height: 1.62;
    }
    @media screen and(min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
.button__hero-batton {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  @media screen and(max-width: 479px) {
    max-width: 216px;
    }
    @media screen and(min-width: 480px) {
    width: 216px;
    }

}
