$color-primary: #212121;
$color-secondary: #757575;
$color-accent: #2196f3;
$color-footer: rgba(255, 255, 255, 0.6);
$bckg-primary: #ffffff;
$bckg-secondary: #f5f4fa;
$bckg-dark: #2f303a;
$bckg-button: #f5f4fa;
$icon-not-active: #afb1b8;
$portfolio-gallery-row-count: 3;
$portfolio-gallery-last-row-count: 3;
$portfolio-gallery-margin-width: 30px;
